@import url(http://www.allrpg.info/main2.css);

.menu {
visibility: hidden;
}

.menutable td
{
  background-color: white !important;
}
/*
table.menutable td.head_players
{
  width: 99% !important;
}
*/
table.menutable td.head_descr
{
  width: 60% !important;
}
/*table.menutable tr td
{
  border: black solid 1px !important;
}*/